/* CSS Styles for Elements */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(41, 38, 38, 0.527), rgba(0, 0, 0, 0.2)),
    url("../images/clock-bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  margin: 0 0 0.4rem;
}

footer {
  text-align: center;
}

select {
  display: block;
  font-size: 18px;
  border-radius: 5px;
  width: 85%;
  padding: 0.5rem;
}

select:focus {
  outline: none;
}

/* CSS Styles for classes */
.clock-container {
  max-width: 700px;
  margin: 5rem auto 2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 13px 12px 20px 5px rgba(15, 5, 2, 0.2);
  border-radius: 10px;
  padding: 4.2rem 2rem;
}

.selection-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
/* Reset button */
.btn-container {
  padding: 3px;
  margin-left: 15px;
}

/* CSS Styles for the cities */

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.time {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
}

.time small {
  font-size: 0.8rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}
